body {
    background-color: black;
    color: white;
    font-family: "SF Display";
}

nav {
    background-color: black;
    display: block;
    padding: 10px 20px;
    margin: 10;
    overflow: scroll;
    position: fixed; \/* Set the navbar to fixed position *\/
    top: 0; \/* Position the navbar at the top of the page *\/
    width: 100