body {
    background-color: black;
    font-family: "SF Display";
}

header {
    width: 100%;
}

nav {
    float: left;
    width: 100%;
}

nav a:hover {
    color: red;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    font-size: 1vw;
    font-weight: 900;
    display: block;
    text-decoration: none;
}

.current {
    text-decoration: underline;
}

.splashScreenLabel {
    color: white;
    font-size: 10vw;
    font-weight: 900;
}

@font-face {
    font-family: "SF Display";
    font-weight: 900;
    src: url("https:\/\/sf.abarba.me\/SF-UI-Display-Black.otf");
}