body {
    background-color: black;
    color: white;
    font-family: "SF Display";
}

header {
    overflow: scroll;
    display: inline;
    position: fixed; \/* Set the navbar to fixed position *\/
    top: 0; \/* Position the navbar at the bottom of the page *\/
    width: 100